body, html{
    margin-top:50px;
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size:24px;
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body.addedclass, html.addedclass{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2{
    margin-bottom:50px;
}
p, #icon{
    display:inline;
}

.switch{
    padding-left: 30px;
}

.switch-mes{
    display:inline;
}

.switch input[type=checkbox]{
    display: none;
}

.switch-btn{
    display: inline-block;
    width: 60px;
    height: 30px;
    background: #355C7D;
    position: relative;
    cursor: pointer;
    top: 8px;
    border-radius: 15px;
    box-shadow: inset 0 3px 10px rgba(0,0,0,.3);
}

.switch-btn:before{
    content: '';
    position: absolute;
    height:26px;
    width: 26px;
    background: linear-gradient(#fff, #f2f2f2);
    left:2px;
    top: 2px;
    transition: all 250ms ease-out;
    border-radius: 50%;
    box-shadow: 0 5px 6px -4px rgba(0,0,0,.25);
}

input[type=checkbox]:checked + .switch-btn:before{
    left:32px;
}

input[type=checkbox]:checked + .switch-btn{
    background: #C06C84;
}